$primary-background-color:#f2f2f2;
$primary-foreground-color:#007AF3;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body{
  background-color: $primary-background-color;
  margin:0;
  font-family: 'Roboto', sans-serif;
}

.navbar{
    .wordmark{
        text-decoration: none;
        font-weight: bolder;
        color:black;
        font-size:1.2em;
        span{
            color:$primary-foreground-color;
        }
    }
    background-color: #ffffff;
    padding:1em;
    nav
    {
    display:none;
    }
    .container{
    display:flex;
    justify-content: space-between;
    }
    .mobile-menu{
        cursor: pointer;
    }
}

a{
    color:#444444;
}
ul{
    list-style: none;
    margin:0;
    padding:0;
}
section{
    padding:5em 2em;
}
.hero{
    text-align: center;
    .left-col{
      .subheading{
          text-transform: uppercase;
          font-weight: bold;
          color:grey;
          letter-spacing: .3em;
      }
      h1{
          line-height:1.3em;
          font-size:2.5em;
          margin-top:.2em;
      }
      .primary-cta{ //Designing The Download For Free Button
          background-color: #007AF3;
          border:5px solid #007AF3;
          border-radius: 5em;
          font-weight: bolder;
          padding:.6em 1.3em;
          text-decoration: none;
          font-size:large;
          color:white;
          display:inline-block;
      }
      .watch-video-cta{
        display:block;
        margin-top: 1em;
        img{
            margin-right:.5em;
        }
      }
    }
}


.her-img{
    width:70%;
    margin-top: 3em;
}

.features-section{
    background:#20272E;
    color:white;
}
ul.features-list{
    margin:0;
    padding-left:.1em;
    li{
        font-size:1.1em;
        margin-bottom:1em;
        margin-left:2em;
        position: relative;
        &:before{

            content:' ';
            position:absolute;
            width:20px;
            height:20px;
            background-image: url('../Assets/bullet.svg');
            background-size: contain;
            left:-2em;
            margin-right: 2em;
        }
    }
}

.features-section-image{
    display:none;
}
.testimonials-section{
    background-color: $primary-foreground-color;
    color:white;
        li{
            background-color: #006BD6;
            text-align: center;
            width:80%;
            padding:2em 1em;
            margin:0 auto 5em auto;
            border-radius: 1em;
            img{
                border:5px solid #006BD6;
                margin-top:-5em;
                border-radius:50%; 
                width:5em;
                height:5em;
            }
        }
    
}
h2{
    font-size:2em;
}
label{
    display:block;
    font-size: 1em;
    margin-bottom:.5em;
}
input,textarea{
  width:100%;
  padding:.8em;
  margin-bottom:1em;
  border:1px solid gray;
  border-radius:.3em;
  box-sizing: border-box;
}

input[type="submit"]{
background-color: $primary-foreground-color;
color:white;
font-weight:bold;
font-size:1.1em;
border:none;
border-radius: 5em;
display:inline-block;
padding:1em;
width:unset;
margin-bottom: 5em;
cursor:pointer;
}
iframe{
    width:100%;
    height:300px;
}
nav.menubtn{
display: block;
}

nav{
    position:fixed;
    z-index: 10;
    width:66%;
    height: 100%;
    top:0;
    right:0;
    background:#20272E;
    padding:1em;
    
    ul.primary-nav{
        margin-top:5em;
    }
    li{
        
        a{
            color:white;
            text-decoration:none;
            display: block;
            padding:.5em;
            font-size: 1.3em;
            text-align: right;
            &:hover{
                font-weight: bold;
            }
        }
    }
}

.mobile-exit{
    float:right;
    margin:.5em;
    cursor:pointer;
}

@media only screen and (min-width:770px) // media query
{

    ul.features-list{
        display:block;
        margin-left:5em;
        li{
            font-size:1.4em;
            &:before{
             width:30px;
             height:30px;
            }
        }
    }
    .testimonials-section{
      .container{
          display: flex;
          justify-content: center;
        ul{
            width:100%;
        display:flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        li{
            width: 250px;

        }
    }
}
    }
   .contact-section{
       position:relative;
       .container{
           display:flex;
       }
   }

   .contact-right{
       position:absolute;
       right:0;
       top:0;
       width:45%;
       height:100%;
       iframe{
           margin-right:1.2em;
           height:100%;
       }
   }
    .features-section{
        position:relative;
    }
    .features-section-image{
               display:block;
               position:absolute;
               right:0;
               width:350px;
               bottom:-2em;
    }
 .hero{
     display: flex;
     justify-content: center;
     .container{
         text-align: left;
         display:flex;
         justify-content: space-around;
         .hero-cta{
             display: flex;
         }
         .watch-video-cta{

            
             margin-left:2em;
         }
     }
 }
  .mobile-menu,.mobile-exit{
      display:none;
  }
  .navbar,.container{
      padding:1em;
      display:flex;
      width:100%;
      justify-content: unset;
      
  }
  
  .navbar nav{
      display:flex;
      justify-content: space-between;
      background:none;
      position:unset;
      height:auto;
      width:100%;
      padding:0;
     .container{.wordmark{
    
     font-size: 2em;
    }
}
      ul{
          display:flex;
      }
      a{
          color:black;
          font-size:1em;
          padding:.1em 1em;
          display:inline-block;
      }
      ul.primary-nav{
          margin:0;
      }
      ul.secondary-nav{
          margin-left: auto;
          margin-right:1.2em;
      }
      
      .current{
        font-weight:bolder;
        &:hover{
            font-weight:bold;
        }
     }
      a:hover{
        font-weight: unset;
    }
    li a.premium-button{
       color:$primary-foreground-color;
       border:3px solid $primary-foreground-color;
       font-weight:bold;
       border-radius: 5em;
       margin-top:-.2em;
       transition: 0.3s;
       &:hover{
           background-color: #007AF3;
           color: #f2f2f2;
       }
    }
      
  }
}

@media only screen and (min-width: 1450px){
    .features-section{
        &:before{
            content:'';
            position:absolute;
            width:10%;
            height:20em;
            background:$primary-foreground-color;
            left:0;
            top:-4em;

        }
        &:after{
            content:'';
            position:absolute;
            width:200px;
            height:10em;
            background:url('../Assets/dots.svg');
            left:4em;
            top:1em;

        }
    }
    .features-section{
        ul{
            padding:6em;
        }
    }
}